html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #1d2671, #c33764);
  display: flex;
  justify-content: center;
  align-items: center;
}